Package: Toolbar
Version: 1.22-1
Section: Desktop
Priority: Optional
Maintainer: David Thomas <dave@davespace.co.uk>
Standards-Version: 0.6.0
Environment: arm
Licence: Free
Description: Toolbar
 Toolbar is pull-down bar which can be used to launch applications, run files and open directories. It can be configured to reside on either on the top left or right-hand side of the desktop and stores the names of up to 32 different objects.
Homepage: http://www.davespace.co.uk/risc.os/toolbar.html
Components: Apps.Desktop.!Toolbar (Movable)
